myservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="urn:example-com:myservice" targetNamespace="urn:example-com:myservice">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:example-com:myservice">
            <xsd:element name="MyFunctionRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="a" type="xsd:int"/>
                        <xsd:element name="b" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MyFunctionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="MyFunctionRequest">
        <part name="parameters" element="tns:MyFunctionRequest"/>
    </message>
    <message name="MyFunctionResponse">
        <part name="parameters" element="tns:MyFunctionResponse"/>
    </message>
    <portType name="MyServicePortType">
        <operation name="MyFunction">
            <input message="tns:MyFunctionRequest"/>
            <output message="tns:MyFunctionResponse"/>
        </operation>
    </portType>
    <binding name="MyServiceBinding" type="tns:MyServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="MyFunction">
            <soap:operation soapAction="urn:example-com:myservice:MyFunction"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="MyService">
        <port name="MyPort" binding="tns:MyServiceBinding">
            <soap:address location="http://localhost:3000/wsdl"/>
        </port>
    </service>
</definitions>
